main#main.main
	img.main__emoji(src="assets/images/me.jpg", alt="")
	h2.main__subtitle Webpack Boilerplate
	ul.main__list.list 
		li.list__item Webpack  
		li.list__item Pug 
		li.list__item postcss | sass ( bem )
		li.list__item JS | Babel 
    
	.main__images
		img(src="./assets/images/webpack.png", alt="")
		img(src="./assets/images/pug.svg", alt="")
		img(src="./assets/images/postcss.png", alt="")
		img(src="./assets/images/sass.png", alt="")
		img(src="./assets/images/babel.png", alt="")
 
