.header
	h1.header__logo Site Logo
	nav
		ul.nav.header__nav
			li.nav__item.nav__item--selected: a.nav__link(href="#") Home
			li.nav__item: a.nav__link(href="#") About
			li.nav__item.nav__item--alt: a.nav__link(href="#") Contact
